
@{
    ViewData["Title"] = "Open session";
}

<div style="width: 100%; margin-top: 50px; margin-bottom: 50px;">

    <h4 style="text-align: center">
        Bent u zeker dat u sessie '<strong>@ViewData["Name"]</strong>' wilt sluiten?
        <br/>
        Deze sessie eindigt om: @ViewData["endTime"]
    </h4>
    <form asp-action="Close" method="post">
        <div style="margin: auto; width: fit-content;">
            <input class="btn btn-danger" type="submit" value="Sluit" style="width: 100px; margin-right: 20px;">
            <a asp-action="Index" class="btn btn-secondary" style="width: 100px; border: 1px solid steelblue;">Cancel</a>
        </div>
    </form>
</div>
